<div class="ui container fluid newsletter-bar">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <div class="inline fields margin none">
                            <div class="field">
                                <span>
                                    <i class="icon envelope"></i>
                                    <h4 class="header">Newsletter</h4>
                                </span>
                            </div>
                            <div class="field textNews">
                                <span class="text">
                                    Cadastre seu e-mail e receba novidades e promoções.
                                </span>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" id="btn_news">
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle aligned centered stackable grid  computer only">
            <div class="row doubling four column ">
                <div class="column">
                    <div class="icon_place">
                        <i class="shipping icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Frete Grátis</h3>
                        <p>Para compras acima de R$300</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="credit card alternative icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Até 3x sem juros</h3>
                        <p>Nos cartões de crédito.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="rocket icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Entrega Expressa</h3>
                        <p>Postagem em até 1 dia útil.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="icon_place">
                        <i class="lock icon floated left"></i>
                    </div>
                    <div class="text_place">
                        <h3>Segurança</h3>
                        <p>Loja 100% segura para sua comodidade.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>