<div class="ui container fluid topbar" id="top_bar">
    <div class="ui container">
        <div class="ui grid middle aligned inverted">
            <div class="two column row">
                @Html.Action("SocialBar", "SocialNetwork")
                <div class="right floated right aligned wide column sixteen wide mobile eleven wide tablet eight wide computer margin none">
                    <div class="ui horizontal list relaxed divided">


                        <div class="item">
                            <a href="~/fale-conosco" title="Fale Conosco"><i class="call square icon"></i><span class="text">Central de atendimento</span></a>
                        </div>
                                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>